<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul>
          <li><a href="{{site.baseurl}}/">Blog</a></li>
          <li><a href="{{site.baseurl}}/portfolio">Portfolio</a></li>
          <li><a href="{{site.baseurl}}/about">About</a></li> 
          <li><a href="{{site.baseurl}}/study">Study</a></li>
              <ul>
                <li><a class="subLi" href="{{site.baseurl}}/java" style="font-size: 16px;"> + Java</a></li>
                <li><a class="subLi" href="{{site.baseurl}}/javaScript" style="font-size: 16px;"> + Java Script</a></li>
                <li><a class="subLi" href="{{site.baseurl}}/react" style="font-size: 16px;"> + React</a></li>
                <li><a class="subLi" href="{{site.baseurl}}/sql" style="font-size: 16px;"> + Sql</a></li>
                <li><a class="subLi" href="{{site.baseurl}}/licenses" style="font-size: 16px;"> + 자격증</a></li>
              </ul>
          <li><a href="{{site.baseurl}}/dailyLife">Daily Life</a></li>
        </ul>
      </nav>
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
